<!--<configuration>-->
<!--    &lt;!&ndash; Define the root level loggers &ndash;&gt;-->
<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            <includeContext>true</includeContext>-->
<!--            <includeMdc>true</includeMdc>-->
<!--            <includeStructuredArguments>true</includeStructuredArguments>-->
<!--        </encoder>-->

<!--    </appender>-->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </root>-->
<!--</configuration>-->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %white([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>